<h1> Atharva Jagdale 20BCM007 </h1>

In [91]:
import numpy as np
import pandas as pd

In [92]:
df = pd.read_csv('prac_2_data.csv')

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CRIM    510 non-null    float64
 1   INDUS   510 non-null    float64
 2   RM      381 non-null    float64
 3   AGE     510 non-null    float64
 4   DIS     510 non-null    float64
 5   TAX     510 non-null    int64
 6   LSTAT   510 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 28.0 KB

In [94]:
df.shape

(510, 7)

In [95]:
df.isnull().sum()

CRIM       0
INDUS      0
RM       129
AGE        0
DIS        0
TAX        0
LSTAT      0
dtype: int64

In [96]:
test_data = df[df['RM'].isnull()]

In [97]:
df.dropna(inplace=True)

In [98]:
df

        CRIM  INDUS     RM   AGE     DIS  TAX  LSTAT
0    0.00632   2.31  6.575  65.2  4.0900  296   4.98
1    0.02731   7.07  6.421  78.9  4.9671  242   9.14
2    0.02729   7.07  7.185  61.1  4.9671  242   4.03
3    0.03237   2.18  6.998  45.8  6.0622  222   2.94
4    0.06905   2.18  7.147  54.2  6.0622  222   5.33
..       ...    ...    ...   ...     ...  ...    ...
505  0.04741  11.93  6.030  80.8  2.5050  273   7.88
506  0.98765  12.50  6.980  89.0  2.0980  320  12.00
507  0.23456  12.50  6.980  76.0  2.6540  320  25.00
508  0.44433  12.50  6.123  98.0  2.9870  320  21.00
509  0.77763  12.70  6.222  34.0  2.5430  329  76.00

[381 rows x 7 columns]

In [99]:
x_train = df.drop('RM',axis=1)

In [100]:
y_train = df['RM']

In [101]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [102]:
lr.fit(x_train,y_train)

LinearRegression()

In [103]:
x_test = test_data.drop('RM',axis=1)

In [104]:
y_pred = lr.predict(x_test)

In [105]:
y_pred

array([6.73942054, 5.99134699, 5.9015695 , 6.50237938, 6.52868755,
       6.43171614, 6.06800854, 6.25190745, 5.91884536, 6.06014927,
       6.60047614, 6.73123928, 6.46206298, 6.35274767, 6.05999114,
       6.49736484, 6.5560489 , 6.38921863, 6.22356039, 6.30310574,
       6.40514213, 6.33232859, 6.35347186, 6.27885926, 6.65110003,
       6.58090835, 6.51552338, 6.65314112, 6.74187188, 6.29654553,
       6.62495032, 6.85403674, 6.44584379, 6.23960648, 6.36428585,
       6.31382814, 6.31873648, 6.30584844, 5.75280884, 5.74856641,
       5.97553618, 6.14319431, 5.88133865, 6.01018373, 5.56312939,
       5.5353646 , 5.48406927, 5.44017436, 6.16048821, 6.03126751,
       6.47405739, 6.66417676, 6.58335751, 6.26571452, 6.22312044,
       6.04372841, 6.78134608, 6.82357643, 6.8452636 , 7.0140347 ,
       6.53723417, 6.82055618, 6.66084728, 6.62813013, 6.89021229,
       6.61556613, 6.63058642, 6.83699641, 5.98554482, 6.09180398,
       6.33977031, 6.35583165, 6.00782213, 6.67201473, 6.7303861 ,
       6.95688472, 6.48864642, 6.92251761, 6.65685324, 6.7931237 ,
       6.35130132, 6.50649512, 6.28736275, 6.3895163 , 6.44409739,
       6.25312703, 6.9100921 , 6.89865691, 6.87641678, 6.82738858,
       6.26872171, 6.5956396 , 6.61962879, 6.78148175, 6.83485174,
       6.15333936, 6.29901421, 6.72279917, 6.24446401, 6.6090997 ,
       6.43351289, 6.74939635, 6.83213136, 6.31678752, 6.58806984,
       6.36528376, 6.42343386, 6.56426389, 6.38275793, 6.53413519,
       6.5365193 , 6.19164092, 6.49451219, 6.40947269, 6.46943333,
       6.64730824, 6.31328613, 6.52884988, 6.47564192, 6.79212271,
       5.46703504, 5.96030471, 5.67188622, 5.84477271, 5.77112531,
       6.07155785, 6.21041902, 6.18529529, 6.32109506])

In [115]:
test_data['Pred_Data'] = y_pred

C:\Users\RA ELE\AppData\Local\Temp\ipykernel_16868\3016138318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Pred_Data'] = y_pred

In [107]:
test_data['RM'] = y_pred

C:\Users\RA ELE\AppData\Local\Temp\ipykernel_16868\2708804869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['RM'] = y_pred

In [108]:
test_data.drop('Pred_Data',axis=1)

         CRIM  INDUS        RM   AGE     DIS  TAX  LSTAT
5     0.02985   2.18  6.739421  58.7  6.0622  222   5.21
7     0.14455   7.87  5.991347  96.1  5.9505  311  19.15
10    0.22489   7.87  5.901569  94.3  6.3467  311  20.45
13    0.62976   8.14  6.502379  61.8  4.7075  307   8.26
16    1.05393   8.14  6.528688  29.3  4.4986  307   6.58
..        ...    ...       ...   ...     ...  ...    ...
444  12.80230  18.10  5.771125  96.6  1.8956  666  23.79
460   4.81213  18.10  6.071558  90.0  2.5975  666  16.42
471   4.03841  18.10  6.210419  90.7  3.0993  666  12.87
485   3.67367  18.10  6.185295  51.9  3.9917  666  10.58
499   0.17783   9.69  6.321095  73.5  2.3999  391  15.10

[129 rows x 7 columns]

In [109]:
frames = [df,test_data]

In [110]:
cleaned_Data = pd.concat(frames)

In [111]:
cleaned_Data = cleaned_Data.drop('Pred_Data',axis=1)

In [112]:
cleaned_Data

         CRIM  INDUS        RM   AGE     DIS  TAX  LSTAT
0     0.00632   2.31  6.575000  65.2  4.0900  296   4.98
1     0.02731   7.07  6.421000  78.9  4.9671  242   9.14
2     0.02729   7.07  7.185000  61.1  4.9671  242   4.03
3     0.03237   2.18  6.998000  45.8  6.0622  222   2.94
4     0.06905   2.18  7.147000  54.2  6.0622  222   5.33
..        ...    ...       ...   ...     ...  ...    ...
444  12.80230  18.10  5.771125  96.6  1.8956  666  23.79
460   4.81213  18.10  6.071558  90.0  2.5975  666  16.42
471   4.03841  18.10  6.210419  90.7  3.0993  666  12.87
485   3.67367  18.10  6.185295  51.9  3.9917  666  10.58
499   0.17783   9.69  6.321095  73.5  2.3999  391  15.10

[510 rows x 7 columns]